@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@700&display=swap');
:root {
    --Dark-red: #6C0345;
    --Red: #8B1717;
    --Bright-yellow: #FFEBB2;
    --Soft-yellow: #FFF8DC;
    --White: #FAFAFA;
    --Soft-green: #AFD198;
    --Green: #75AB50;
    --Yellow: #F7C566;
    --Gray: #CACACA;
    --Blue-navy: #003366;
    --Clare-red: #961767;
    --Soft-Blue: #5271FF;
}
